<!DOCTYPE html>
<html lang="es">
<head>
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/home-tablet.css">
<link rel="stylesheet" href="/css/home-desktop.css">
</head>

<body>

<header>
  <%- include("./partials/header.ejs") %>

</header>
<br>
<main >

<section>
    <article class="articulo">
       <div class="tittle-icon"> <i class="fas fa-angle-double-right icon0"></i></div>
       <% productos.forEach(producto=> {%>
        <a href="/detalleproducto/<%= producto.id %>"></a>
        <div class="div-tittle"><h2 class="tittle-product1"><%= producto.nombre %></h2></div> 
        <img src="/images/<%= producto.imagen %>">  
        
     
        
       
        <% }); %>



</article>



</section>

</main>

    <br>
    <br>


    
<%- include("./partials/footer.ejs") %>



</body>
</html>