<!DOCTYPE html>
<html lang="es">
<head>
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/home.css">

<link rel="stylesheet" href="/css/home-tablet.css">
<link rel="stylesheet" href="/css/home-desktop.css">
</head>

<body class="width-100vw height-100vh font-family-lilita bg-pagina display-flex flex-column min-heigth-100vh" >

<header>
  <%- include("./partials/header.ejs") %>

</header>
<br>
<main class="grow margin-bottom-55px width-90pc margin-auto height-100vh">
  <article
  class="display-flex flex-column margin-10px box-shadow-comun border-radius-3px bg-blue align-items-center">
   <img src="/images/imageUsers/<%= usuarioDetalle.imagenusuario %>" class="width-100pc">
  <div class="display-flex flex-column width-90pc">
    <h3 class="descripciones margin-top-5px margin-bottom-5px text-color-pagina width-100pc"> Nombre : <%= usuarioDetalle.nombre %></h3>  
    <p class="descripciones margin-top-5px margin-bottom-5px text-color-pagina width-100pc"> Apellido : <%= usuarioDetalle.apellido %></p>
    <p class="descripciones margin-top-5px margin-bottom-5px text-color-pagina width-100pc"> Nacimiento : <%=usuarioDetalle.nacimiento %></p>
    <p class="descripciones margin-top-5px margin-bottom-5px text-color-pagina width-100pc"> Sexo : <%= usuarioDetalle.sexo %></p>
    <p class="descripciones margin-top-5px margin-bottom-5px text-color-pagina width-100pc"> Celular : <%=usuarioDetalle.celular %></p>
    <p class="descripciones margin-top-5px margin-bottom-5px text-color-pagina width-100pc"> Correo : <%=usuarioDetalle.correo %></p>
    <p class="descripciones margin-top-5px margin-bottom-5px text-color-pagina width-100pc"> Contraseña : <%=usuarioDetalle.password %></p>
    <p class="text-color-pagina margin-top-5px margin-bottom-5px"> Password: <%= usuarioDetalle.password %> </p>

  </div>

</article>

<section class="display-flex flex-column margin-10px border-radius-3px align-items-center">
 
  <br>

  <a href="#">  
    <button type="submit" value="Volver al inicio" class="bg-verde border-none border-radius-3px padding-5px text-color-pagina"> Editar  </button>
  </a>

  <br>

  <form action="/eliminarUsuario/<%= usuarioDetalle.id %>?_method=delete" method="post">
  
    <button type="submit" value="Volver al inicio" class="bg-verde border-none border-radius-3px padding-5px text-color-pagina"> Eliminar  </button>
 
</form>

  </section>





    </main>
    <br>
    <br>

<%- include("./partials/footer.ejs") %>


</body>
</html>