<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <title>Green Meat</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/home-tablet.css">
    <link rel="stylesheet" href="/css/home-desktop.css">
    <link rel="stylesheet" href="/css/home-tablet.css">
    <link rel="stylesheet" href="/css/home-desktop.css">

</head>

<body class="width-100vw height-100vh font-family-lilita bg-pagina display-flex flex-column min-heigth-100vh">

    <%- include("./partials/header.ejs") %>  
    <main class="grow margin-bottom-55px width-90pc margin-auto height-100vh">
        <section class="100pc">
          <h2 class="">Usted está editando el producto: <%= productToEdit.nombre %> </h2>
          <form action="/editarProducto/<%=productToEdit.id%>?_method=PUT"  method="POST">
            <label for="">Ingrese aquí el nuevo nombre que desea ingresar</label>
            <input class="margin-bottom-10px border-radius-3px" type="text" name="nombre" value= <%= productToEdit.nombre %> >
            <br>
            <label for="">Ingrese aquí la nueva descripción que desea ingresar</label>
            <input class="margin-bottom-10px border-radius-3px" type="text" name="descripcion" value= <%= productToEdit.descripcion %> >
            <br>
            <label for="">Ingrese aquí a que carne reemplaza el producto</label>
            <input class="margin-bottom-10px border-radius-3px" type="text" name="reemplaza" value= <%= productToEdit.reemplaza %> >
            <br>
            <label for="">Ingrese aquí en qué presentación viene el producto</label>
            <input class="margin-bottom-10px border-radius-3px" type="text" name="presentacion" value= <%= productToEdit.presentacion %> >
            <br>
            <label for="">Ingrese aquí el precio nuevo del producto</label>
            <input class="margin-bottom-10px border-radius-3px" type="text" name="precio" value= <%= productToEdit.precio %> >
            <br>
            <div>
              <button type="submit" class="bg-verde border-none border-radius-3px padding-5px text-color-pagina">Enviar</button>
              <button type="reset" class="bg-verde border-none border-radius-3px padding-5px text-color-pagina">Borrar</button>

            </div>
            
          </form>
        </section>


    </main>
    <%- include("./partials/footer.ejs") %>
</body>

</html>