<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <title>Green Meat</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/home-tablet.css">
    <link rel="stylesheet" href="/css/home-desktop.css">
    <link rel="stylesheet" href="/css/home-tablet.css">
    <link rel="stylesheet" href="/css/home-desktop.css">

</head>

<body class="width-100vw height-100vh font-family-lilita bg-pagina display-flex flex-column min-heigth-100vh">

    <%- include("./partials/header.ejs") %>  
    <main class="grow margin-bottom-55px width-90pc margin-auto height-100vh text-color-blue">
      <section class="100pc">
        <h2 class="">Usted está editando el producto: <%= productToEdit.nombre %> </h2>
        <form action="/editarProducto/<%=productToEdit.id%>?_method=PUT" enctype="multipart/form-data"  method="POST">
          <div class="display-flex justify-content-space-between margin-top-10px " >
            <label for="" class="width-126px">Nuevo nombre : </label>

            <input class="margin-bottom-10px border-radius-3px width-45pc grow margin-left-5px max-width-80pc  " type="text" name="nombre" value= <%= productToEdit.nombre %> >
          </div>
          <br>
          <div class="display-flex justify-content-space-between " >
          <label for="" class="width-126px"> Descripción : </label>
          <input class="margin-bottom-10px border-radius-3px width-45pc grow margin-left-5px max-width-80pc " type="text" name="descripcion" value= <%= productToEdit.descripcion %> >
        </div>
          <br>
          <div class="display-flex justify-content-space-between " >
          <label for="" class="width-126px"> Reemplazo de : </label>
          <select class="width-45pc margin-bottom-10px border-radius-3px width-45pc grow margin-left-5px max-width-80pc " name="reemplaza"">
            <option <% if(productToEdit.reemplaza == "pollo") {%> selected <% } %>  > pollo</option>
            <option <% if(productToEdit.reemplaza == "vacuno") {%> selected <% } %>> vacuno</option>
            <option <% if(productToEdit.reemplaza == "pescado") {%> selected <% } %>> pescado</option>
            <option <% if(productToEdit.reemplaza == "cerdo") {%> selected <% } %>> cerdo</option>
          </select>
        </div>  
          <br>
          <div class="display-flex justify-content-space-between " >
          <label for="" class="width-126px"> Presentación :</label>
          <select  class="width-45pc margin-bottom-10px border-radius-3px width-45pc grow margin-left-5px max-width-80pc " name="presentacion">
            <option> Unidad </option>
            <option> Caja de 4 </option>
            <option> Caja de 6 </option>
            <option> Kilos </option>
          </select>
        </div>
        <br>
          <div class="display-flex justify-content-space-between " >
          <label for="" class="width-126px"> Imagen Producto :</label>
          <input class="width-45pc margin-bottom-10px border-radius-3px width-45pc grow margin-left-5px max-width-80pc " type="file" name="imagen" value= <%= productToEdit.imagen %>  >
        </div>
          <br>
          <div class="display-flex justify-content-space-between " >
          <label for="" class="width-126px"> Precio :</label>
          <input class="width-45pc margin-bottom-10px border-radius-3px width-45pc grow margin-left-5px max-width-80pc " type="text" name="precio" value= <%= productToEdit.precio %>  >
        </div>
        <br>
        <div class="display-flex justify-content-space-between " >
          <label for="" class="width-126px"> Descuento :</label>
          <input class="width-45pc margin-bottom-10px border-radius-3px width-45pc grow margin-left-5px max-width-80pc "  type="text" name="descuento" value= <%= productToEdit.descuento %>>
        </div>
        <br>
          <div class="display-flex justify-content-space-between " >
          <label for="" class="width-126px"> Relevancia :</label>
          <select class="width-45pc margin-bottom-10px border-radius-3px width-45pc grow margin-left-5px max-width-80pc " name="relevancia">
            <option <% if(productToEdit.relevancia == "oferta") {%> selected <% } %>> oferta </option>
            <option <% if(productToEdit.relevancia == "vendidos") {%> selected <% } %>> vendidos </option>
            <option <% if(productToEdit.relevancia == "ninguna") {%> selected <% } %>> ninguna </option>
          </select>
        </div>
        
          <br>
          <button class="bg-verde border-none border-radius-3px padding-5px text-color-pagina" type="submit">Guardar</button>
          <button class="bg-verde border-none border-radius-3px padding-5px text-color-pagina" type="reset">Borrar</button>
        </form>
      </section>


  </main>
  
    <%- include("./partials/footer.ejs") %>
</body>

</html>