<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <title>Green Meat</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/home-tablet.css">
    <link rel="stylesheet" href="/css/home-desktop.css">
    <link rel="stylesheet" href="/css/home-tablet.css">
    <link rel="stylesheet" href="/css/home-desktop.css">

</head>

<body class="width-100vw height-100vh font-family-lilita bg-pagina display-flex flex-column min-heigth-100vh">

    <%- include("./partials/header.ejs") %>  
    <main class="grow margin-bottom-55px width-90pc margin-auto height-100vh text-color-blue">
      <section class="100pc">
        <h2 class="">Usted está editando el usuario: <%= userToEdit.nombre + " " + userToEdit.apellido %> </h2>
        <form action="/editUser/<%=userToEdit.idUsuario%>?_method=PUT" enctype="multipart/form-data"  method="POST">
          <div class="display-flex justify-content-space-between margin-top-10px " >
            <label for="" class="width-137px">Nuevo nombre</label>
            <input class="margin-bottom-10px border-radius-3px width-90pc grow" type="text" name="nombre" value= "<%= userToEdit.nombre %>" >
          </div>
          <br>
          <div class="display-flex justify-content-space-between margin-top-10px " >
            <label for="" class="width-137px">Nuevo apellido</label>
            <input class="margin-bottom-10px border-radius-3px width-90pc" type="text" name="apellido" value= "<%= userToEdit.apellido %>" >
          </div>
          <br>
          <div class="display-flex justify-content-start margin-top-10px " >
            <label for="" class="width-137px">Fecha de nacimiento</label>
            <input type="date" name="nacimiento" class="margin-bottom-10px border-radius-3px margin-left-5px width-92pc" value= <%= userToEdit.nacimiento %> >
          </div>
          <br>
          <div class="display-flex justify-content-space-between " >
            <label for="" class="width-137px"> Sexo: </label>
            <select class="width-90pc margin-bottom-10px border-radius-3px width-90pc" name="sexo">
              <option <% if(userToEdit.sexo == "M") {%> selected <% } %>  > M</option>
              <option <% if(userToEdit.sexo == "F") {%> selected <% } %>> F</option>
              <option <% if(userToEdit.sexo == "Otro") {%> selected <% } %>> Otro</option>
          </select>
          </div>
          <br>
          <div class="display-flex justify-content-space-between margin-top-10px " >
            <label for="" class="width-137px">Celular</label>
            <input class="margin-bottom-10px border-radius-3px width-90pc" type="text" name="celular" value= <%= userToEdit.celular %> >
          </div>
          <br>
          <div class="display-flex justify-content-space-between " >
            <label for="" class="width-137px"> Imagen de usuario:</label>
            <input class="width-90pc margin-bottom-10px border-radius-3px width-90pc" type="file" name="imagenusuario" value= <%= userToEdit.imagenusuario %>  >
          </div>
          <br>
    
        <br>
          
          <div class="display-flex justify-content-space-between " >
            <label for="" class="width-137px"> Correo electrónico </label>
            <input class="margin-bottom-10px border-radius-3px width-90pc margin-left-5px" type="text" name="email" value= <%= userToEdit.email %> >
          </div>
          <br>
          <button class="bg-verde border-none border-radius-3px padding-5px text-color-pagina boton2" type="submit">Guardar</button>
          <button class="bg-verde border-none border-radius-3px padding-5px text-color-pagina boton2" type="reset">Borrar</button>
        </form>
        <br>
      </section>


  </main>
  
    <%- include("./partials/footer.ejs") %>
</body>

</html>