<!DOCTYPE html>
<html lang="es">
<head>
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/home.css">

<link rel="stylesheet" href="/css/home-tablet.css">
<link rel="stylesheet" href="/css/home-desktop.css">
</head>

<body class="width-100vw height-100vh font-family-lilita bg-pagina display-flex flex-column min-heigth-100vh">

<header>
  <%- include("./partials/header.ejs") %>

</header>
<br>
<main >
  <h2 class="text-color-blue">Bienvenido a la lista de productos de Vegan Meat</h2>
  <nav
      class="width-100pc bg-verde border-bottom-black center-me  display-flex justify-content-center align-items-flex-end margin-top-10px border-top-black"><h3 class="text-color-pagina">Productos que reemplazan al pollo</h3></nav>
  <article class="display-flex width-100pc flex-column align-items-center articulos">
    <% productos.forEach(producto=> {
      if(producto.reemplaza == "pollo") { %>
    <article
        class="articulo display-flex flex-column margin-10px box-shadow-comun border-radius-3px bg-blue align-items-center">
        <a href="/detalleproducto/<%= producto.id %>">
          <img src="/images/<%= producto.imagen %>" class="width-100pc">
        </a>
        <div class="display-flex flex-column width-90pc">
            <div class="display-flex justify-content-space-between margin-top-10px width-100pc">
                <p class="cantidad text-color-pagina">Presentaci贸n: <%= producto.presentacion %> </p>
                <p class="precios text-color-pagina width-30pc"><%= "$" + producto.precio %></p>
            </div>
            <h3 class="descripciones margin-top-10px margin-bottom-10px text-color-pagina width-100pc"><%= producto.nombre %></h3>
        </div>
    </article>
    <% }}); %>
  </article>

  <nav
      class="width-100pc bg-verde border-bottom-black center-me  display-flex justify-content-center align-items-flex-end margin-top-10px border-top-black"><h3 class="text-color-pagina">Productos que reemplazan a la carne vacuna</h3></nav>
  <article class="display-flex width-100pc flex-column align-items-center articulos">
    <% productos.forEach(producto=> {
      if(producto.reemplaza == "vacuno") { %>
    <article
        class="articulo display-flex flex-column margin-10px box-shadow-comun border-radius-3px bg-blue align-items-center">
        <a href="/detalleproducto/<%= producto.id %>">
          <img src="/images/<%= producto.imagen %>" class="width-100pc">
        </a>
        <div class="display-flex flex-column width-90pc">
            <div class="display-flex justify-content-space-between margin-top-10px width-100pc">
                <p class="cantidad text-color-pagina">Presentaci贸n: <%= producto.presentacion %> </p>
                <p class="precios text-color-pagina width-30pc"><%= "$" + producto.precio %></p>
            </div>
            <h3 class="descripciones margin-top-10px margin-bottom-10px text-color-pagina width-100pc"><%= producto.nombre %></h3>
        </div>
    </article>
    <% }}); %>
  </article>
  <nav
      class="width-100pc bg-verde border-bottom-black center-me  display-flex justify-content-center align-items-flex-end margin-top-10px border-top-black"><h3 class="text-color-pagina">Productos que reemplazan a la carne de cerdo</h3></nav>
  <article class="display-flex width-100pc flex-column align-items-center articulos">
    <% productos.forEach(producto=> {
      if(producto.reemplaza == "cerdo") { %>
    <article
        class="articulo display-flex flex-column margin-10px box-shadow-comun border-radius-3px bg-blue align-items-center">
        <a href="/detalleproducto/<%= producto.id %>">
          <img src="/images/<%= producto.imagen %>" class="width-100pc">
        </a>
        <div class="display-flex flex-column width-90pc">
            <div class="display-flex justify-content-space-between margin-top-10px width-100pc">
                <p class="cantidad text-color-pagina">Presentaci贸n: <%= producto.presentacion %> </p>
                <p class="precios text-color-pagina width-30pc"><%= "$" + producto.precio %></p>
            </div>
            <h3 class="descripciones margin-top-10px margin-bottom-10px text-color-pagina width-100pc"><%= producto.nombre %></h3>
        </div>
    </article>
    <% }}); %>
  </article>
  <nav
      class="width-100pc bg-verde border-bottom-black center-me  display-flex justify-content-center align-items-flex-end margin-top-10px border-top-black"><h3 class="text-color-pagina">Productos que reemplazan a la carne de pescado</h3></nav>
  <article class="display-flex width-100pc flex-column align-items-center articulos">
    <% productos.forEach(producto=> {
      if(producto.reemplaza == "pescado") { %>
    <article
        class="articulo display-flex flex-column margin-10px box-shadow-comun border-radius-3px bg-blue align-items-center">
        <a href="/detalleproducto/<%= producto.id %>">
          <img src="/images/<%= producto.imagen %>" class="width-100pc">
        </a>
        <div class="display-flex flex-column width-90pc">
            <div class="display-flex justify-content-space-between margin-top-10px width-100pc">
                <p class="cantidad text-color-pagina">Presentaci贸n: <%= producto.presentacion %> </p>
                <p class="precios text-color-pagina width-30pc"><%= "$" + producto.precio %></p>
            </div>
            <h3 class="descripciones margin-top-10px margin-bottom-10px text-color-pagina width-100pc"><%= producto.nombre %></h3>
        </div>
    </article>
    <% }}); %>
  </article>



 </section>



</main>

    <br>
    <br>


    
<%- include("./partials/footer.ejs") %>



</body>
</html>