<!DOCTYPE html>
<html lang="es">
<head>
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/home-tablet.css">
<link rel="stylesheet" href="/css/home-desktop.css">
</head>

<body>

<header>
  <%- include("./partials/header.ejs") %>

</header>
  
<br>
<main class="width-100vw  font-family-lilita bg-pagina display-flex flex-column min-heigth-100vh" >
    <form method="POST" action="/login" class="form">
         <h2 class="h2">Ingresá</h2>
      <div class="div-login">
        <input type="text" name="email"  placeholder="Correo Electronico" class="anchototal" >
        <% if (locals.errors && errors.email) {%>
          <p class="span"><%= errors.email.msg %></p> 
        <% }%>  

</div> <br>    

<div class="div-login">
            <input type="Password" name="Password"  placeholder="Password" class="anchototal" ><br>
            <label for="">Recordame</label>
            <input type="checkbox" name="recordame"><br>
            <% if (locals.errors && errors.password) {%>
              <p class="span"><%= errors.password.msg %></p> 
            <% }%>
            
        </div>
        <br>
    </div >
    <div class="bottom">
    <button type="submit" value="Enviar" class="boton text-color-pagina" > Enviar </button>  </div >
    <div class="bottom">
        <button type="reset" value="Borrar" class="boton text-color-pagina" > Borrar </button>  </div >
        <div class="bottom">
      <button type="submit" value="Volver al inicio" class="boton text-color-pagina" > Volver al inicio</button>
  </div >
    </form>
    </main>

<%- include("./partials/footer.ejs") %>



</body>
</html>